/* CSS para la tabla de pedidos con 3 opciones */
.styled-table {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
}

.styled-table thead tr {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.styled-table th,
.styled-table td {
    padding: 20px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px  seashell ;
}

.boton-personalizado {
    float: right;
    margin: 5px 0 15px 0;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 6px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #004CC1;
    transition: background-color .5s;
}

.boton-personalizado:hover{
    color: #ffffff;
    background-color: #004CC1;
    cursor: pointer;
}

.texto_iconos {
    margin: 0 0 0 8px;
    color: black;
}

#iconos {
    transition: .2s;
    color:rgba(128, 128, 128, 0.57);
}

#iconos:hover {
    transition: .2s;
    transform: translateY(-3px) scale(1.05);
    color: #004CC1;
}

h3.text-center {
    float: left;
    padding: 0;
    margin: 10px 0 5px 0;
}

input.box {
    border: 2px solid #004CC1;
    width: 16%;
    padding: 2px 20px 2px;
    text-align: left;
    border-radius: 15px;
    margin: 8px 10px 5px 15px;
    outline: none;
    transition: .5s;
    overflow: hidden;
    
}

input.boton-busq {
    position: relative;
    right: 50px;
    padding: 12px 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 4px;
    border-width: 0;
    background-color: #004CC1;
    border-radius: 15px;
    cursor: pointer;
}